.header-container {
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  min-height: 68px;
  max-height: 68px;
  padding: 15px;
  display: flex;
  align-items: center;
}
